<a href="https://colab.research.google.com/github/prireneo/analyse_clean_covid19_data/blob/main/DataCleaningClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Data Cleaning
import pandas as pd
import numpy as np

#create a sample dataframe
data = {'Name':['John','Anna',np.nan,'Peter'],
'Age':[28,24,35,np.nan]}

df = pd.DataFrame(data)
#Detect nulls
print(df.isnull())

    Name    Age
0  False  False
1  False  False
2   True  False
3  False   True

In [6]:
#Dropping Nulls
#Drop rows with null values
df_dropped = df.dropna()
print(df_dropped)

   Name   Age
0  John  28.0
1  Anna  24.0

In [7]:
#Filling Nulls
#Fill Null values with a Specific value
df_filled=df.fillna("unknown")
print(df_filled)

      Name      Age
0     John     28.0
1     Anna     24.0
2  unknown     35.0
3    Peter  unknown

In [16]:
#OUTLIERS
#Detecting Outliers using IQR(interquartile Range)
#Create a sample Dataframe
"""
1. Create a sample Dataframe
2.Calculate Q1 (First Quartile)
3.
4.Calculate IQR range
5. Detect Outlier
6. Print Outlier """
import pandas as pd
data = {'Score':[85,90,78,92,88,76,95,89,1000]}
df = pd.DataFrame(data)

#Calculate Q1 and Q3
Q1= df['Score'].quantile(0.25)
Q3= df['Score'].quantile(0.75)

#Calculate IQR
IQR = Q3-Q1

#Detect Outliers
outliers= df[(df['Score'] < Q1 - 1.5 * IQR) | (df['Score'] > Q3 + 1.5 * IQR)]
print(outliers)

   Score
8   1000

In [22]:
import pandas as pd
#Load Covid-19 data
url  = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
df = pd.read_csv(url)

#Clean and preprocess data
df = df.melt(id_vars=['Province/State','Country/Region', 'Lat', 'Long'], var_name='Date', value_name='Confirmed Cases')
df['Date'] = pd.to_datetime(df['Date'], format="%m/%d/%y")

#Grouping Data
df_grouped = df.groupby(['Country/Region','Date'])['Confirmed Cases']. sum().reset_index()

#Display first few rows
print(df_grouped.head())

  Country/Region       Date  Confirmed Cases
0    Afghanistan 2020-01-22                0
1    Afghanistan 2020-01-23                0
2    Afghanistan 2020-01-24                0
3    Afghanistan 2020-01-25                0
4    Afghanistan 2020-01-26                0

In [24]:
#Display All Roles
print(df_grouped)

       Country/Region       Date  Confirmed Cases
0         Afghanistan 2020-01-22                0
1         Afghanistan 2020-01-23                0
2         Afghanistan 2020-01-24                0
3         Afghanistan 2020-01-25                0
4         Afghanistan 2020-01-26                0
...               ...        ...              ...
229738       Zimbabwe 2023-03-05           264127
229739       Zimbabwe 2023-03-06           264127
229740       Zimbabwe 2023-03-07           264127
229741       Zimbabwe 2023-03-08           264276
229742       Zimbabwe 2023-03-09           264276

[229743 rows x 3 columns]